.footer-div {
    text-align: center;
    padding: 1rem;
    background-color: #f6f6f6;
    border-top: 1px solid #eee;
    margin-top: auto;
    width: 100%;
}

.footer-div div {
    margin-bottom: 0.5rem;
    color: #999;
    font-size: 0.8rem;
}