.author-div {
    text-align: center;
    padding: 1rem;
}

.author-div div {
    margin-bottom: 1rem;
}

.author-introduction {
    font-size: .8rem;
    color: #999;
}

.account {
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}

.avatar-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
    transition: all 1s ease-in-out;
}

.avatar-container img {
    scale: 1;
}

.avatar-container:hover .avatar {
    transform: rotate(360deg);
    scale: 1.2;

    filter: blur(0.8px) brightness(80%);
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.avatar-container:hover .avatar-overlay {
    opacity: 1;
}

.account {
    transition: all 1s ease-in-out;
}

.account:hover {
    transform: rotate(-360deg);
}